
/* Aspecto del formulario */
body{
text-align:center;
font-family:verdana;

}

#formulario{
border:solid 2px #708090;
background:#dcdcdc;
margin:0 auto;
width:400px;
padding:14px;
}
#formulario h1 {
font-size:24px;
font-weight:bold;
margin-bottom:10px;
}
#formulario label{
display:block;
//font-weight:bold;
text-align:right;
width:inherit;
float:left;
padding: 0px 0px 0px 5px;
}

#formulario input{
float:left;
font-size:14px;
padding:5px 5px;
border:solid 1px;
//border:solid 1px #708090;
width:95%;
margin:5px 5px 5px 5px;
}
#formulario button{
clear:both;
margin:0 auto;
width:100px;
height:31px;
background:#696969;
text-align:center;
}    

